services:

  nginx:
    build: ./nginx
    image: nginx_app:1.0
    container_name: nginx_server
    ports:
      - "80:80"
    expose: 
      - 80
    networks:
      - shortnet
    restart: no
    depends_on:
      - auth_service
      - url_service

  auth_service:
    build: ./authService
    image: auth_service:1.0
    env_file:
      - .env
    networks:
      - shortnet
    depends_on:
      auth-migrations:
        condition: service_completed_successfully

  url_service:
    build: ./URLshortenerService
    image: url_service:1.0
    env_file:
      - .env
    networks:
      - shortnet
    depends_on:
      url-migrations:
        condition: service_completed_successfully

  users-db:
    image: postgres:18-alpine
    volumes:
      - users_db_data:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=${DB_USERS_PASSWORD}
      - POSTGRES_USER=${DB_USERS_USERNAME}
      - POSTGRES_DB=${DB_USERS_NAME}
    ports:
     - "5432:5432"
    networks:
      - shortnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERS_USERNAME} -d ${DB_USERS_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  sessions-db:
    image: postgres:18-alpine
    volumes:
      - sessions_db_data:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=${DB_SESSIONS_PASSWORD}
      - POSTGRES_USER=${DB_SESSIONS_USERNAME}
      - POSTGRES_DB=${DB_SESSIONS_NAME}
    ports:
     - "5431:5432"
    networks:
      - shortnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_SESSIONS_USERNAME} -d ${DB_SESSIONS_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  urls-db:
    image: postgres:18-alpine
    volumes:
      - urls_db_data:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=${DB_URLS_PASSWORD}
      - POSTGRES_USER=${DB_URLS_USERNAME}
      - POSTGRES_DB=${DB_URLS_NAME}
    ports:
     - "5433:5432"
    networks:
      - shortnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_URLS_USERNAME} -d ${DB_URLS_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  auth-migrations:
    build: ./authService
    image: auth_service:1.0
    command: >
      sh -c "
      echo 'Применяем миграции...' &&
      task migrate-sql &&
      echo 'Миграции успешно применены'
      "
    env_file:
      - .env
    networks:
      - shortnet
    depends_on:
      users-db:
        condition: service_healthy
      sessions-db:
        condition: service_healthy
    restart: "no"

  url-migrations:
    build: ./URLshortenerService
    image: url_service:1.0
    command: >
      sh -c "
      echo 'Применяем миграции...' &&
      task migrate-sql &&
      echo 'Миграции успешно применены'
      "
    env_file:
      - .env
    networks:
      - shortnet
    depends_on:
      urls-db:
        condition: service_healthy
    restart: "no"
     
volumes:
  users_db_data:
  sessions_db_data:
  urls_db_data:

networks:
  shortnet:
    driver: bridge